* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #fff;
}

.main-visual{
  width: 100%;
  height: 600px;
  max-width: 1920px;
  object-fit: cover;
}